ESTAT_APP_ID=your-estat-app-id
CONTACT_TO_EMAIL=ai@quadrillion-ai.com
CONTACT_FROM_EMAIL=no-reply@quadrillionaaa.com
SES_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
